.pagination{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
  margin-top: 23px;
}

.pagination__btn{
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 16px;
}

.pagination__ellipsis{
  color: #CCCCCC;
  margin-left: 2px;
  margin-right: 2px;
}

.pagination__btn:hover{
  background-color: #E1E1E1;
}
.pagination__btn_type_active{
  background-color: #0087E9;
}
.pagination__btn_type_active:hover{
  background-color: #0087E9;
}
