.cart-popup__check{
  float: right;
  margin-top: 23px;
  margin-right: 120px;
  margin-bottom: 88px;
  font-size: 18px;
  font-weight: 700;
}

.cart-popup__check-count{
  display: inline-block;
  margin-left: 53px;
  font-size: 18px;
  font-weight: 700;
  min-width: 45px;
  text-align: right;
}